.table-container {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  background: white;
}

table th, table td {
  border: 1px solid #dfe6e9;
  padding: 10px;
  text-align: center;
}

table th {
  background: #040405;
  color: white;
}

button {
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  border: none;
  width:80px;
}

button:hover {
  opacity: 0.8;
}

button:first-of-type {
  background: #00b894;
  color: white;
}

button:last-of-type {
  background: #FF5656;
  color: white;
}

.search {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  width:380px;
}

.pagination button {
  padding: 8px 15px;
  border-radius: 6px;
  background: #E37434;
  color: white;
  border: none;
  cursor: not-allowed;
  margin-left:center ;
}

.pagination button:disabled {
  background: #E37434;
  cursor: not-allowed;
}
.table-scroll {
  max-height: 300px;        
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 12px;
}

.table-scroll table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  background: #040405;
  color: white;
  z-index: 2;
}

.table-scroll th,
.table-scroll td {
  border: 1px solid #dfe6e9;
  padding: 10px;
  text-align: center;
}

.table-scroll::-webkit-scrollbar {
  width: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #989696;
  border-radius: 10px;
}
