body, html{
  margin:0; padding:0; font-family: Arial, sans-serif;
}
.page{
  min-height: 150vh;
  background: linear-gradient(135deg,#89f7fe,#66a6ff);
  padding:20px;
}
.center{
  display:flex; justify-content:center; align-items:center; min-height:100vh;
}
.card{
  background:white;
}
.navbar {
  width:98%;
  height: 30px;;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00809D;
  color: white;
  font-size: 19px;
  padding: 18px 25px;
  margin-top: 0%;
  margin-left: 0%;
  overflow: visible;
  cursor: pointer;
}

.navbar-title {
  margin: 0;
  font-weight: 500;
  justify-content: space-between;
}
.nav-left h2 {
  font-size: 25px;
}
.nav-menu {
 right: 390px;
  list-style: none;
  display: flex;
  gap: 35px;
  margin-left: auto;
}
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  color:#F6F3C2
}
.nav-right {
  display: flex;
  align-items:right;
  right:390px;
  overflow: visible;
}
.profile {
right: 40px;
  width: 45px;
  height: 45px;
  border-radius: 60%;
  background: #C59560;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin-left: 100px;
  overflow: visible;
}

.logout-toast {
  text-align: center;
}
.toast-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.btn-ok {
  background: #00b894;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancel {
  background: #d63031;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-ok:hover,
.btn-cancel:hover {
  opacity: 0.9;
}
.table-scroll {
  max-height: 320px;       
  overflow-y: auto;
  border-radius: 12px;
}
.table-scroll::-webkit-scrollbar {
  width: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

