.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  width: 360px;
  justify-content: center;
  margin-top: 40px;
  
}

input,textarea, button {
  width: 85%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #b2bec3;
}
select{
  width: 89%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 2px solid #b2bec3;
}

button {
  background: #6c5ce7;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 9px;
  text-align: center;
  width: 80px;
}

button:hover {
  background: #341f97;
}

textarea {
  resize: none;
}

.table-container {
  margin-top: 20px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background: white;
}

table th, table td {
  border: 1px solid #dfe6e9;
  padding: 15px;
  text-align: center;
}

table th {
  background: #040407;
  color: white;
}

.search {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  width:390px;
}

.pagination button {
  padding: 8px 15px;
  border-radius: 5px;
  background: #5c7ce7;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.pagination button:disabled {
  background: #a29bfe;
  cursor: not-allowed;
}
.dashboard-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.left-panel {
  width: 35%;
}

.right-panel {
  width: 65%;
}

@media (max-width: 900px) {
  .dashboard-layout {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    width: 100%;
  }
}
.table-scroll {
  height: 190px;        
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 12px;
}

.table-scroll table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  background: #040405;
  color: white;
  z-index: 2;
}

.table-scroll th,
.table-scroll td {
  border: 1px solid #dfe6e9;
  padding: 10px;
  text-align: center;
}

.table-scroll::-webkit-scrollbar {
  width: 8px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #989696;
  border-radius: 10px;
}
.page {
  height: 100vh;
  overflow: hidden;
}



